.movie-grid-container {
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

/* Adjust the card style as needed */
.movie-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 10px;
  margin: 5px;
  margin-right: 5px;
}


